h1 h2 h3 {
  line-height: 1.3;
}

.has-text-weight-semibold {
  font-weight: 600!important;
}

@media screen and (max-width: 768px) {
  .is-size-4-mobile {
    font-size: 1.5rem!important;
  }
}

@media print, screen and (min-width: 769px) {
  .is-size-3-tablet {
    font-size: 2rem!important;
  }
}

@media screen and (min-width: 1216px){
  .is-size-2-widescreen {
    font-size: 2.5rem!important;
  }
}
